--swiftversion 5
--exclude mixpanel-swift
--header strip
--ranges no-space
--disable redundantGet,redundantRawValues,sortedImports,unusedArguments,redundantSelf
--trimwhitespace "nonblank-lines"
--indent tab
--enable isEmpty
